html,body{
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h5{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    display: inline
}
ul{
   
}
.window-member{
    min-height: 100% !important;
        height: 100%;
        display: flex
}
.chat-members{
         width: 25%; 
         height: 100%;
         padding-top: 10px;
         color: aliceblue; 
}
.bg-colored{
    background: rgba(98,125,77,1);
    background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(31,59,8,1)));
    background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 );
}
.chat-window{
    width: 75%;
    height: 100%;
    border: solid rgb(230, 232, 237) 4px;
    
    border-radius: 10px;
    text-align: left;
   
}
.form{
    margin-left: 3%
}

.input{
    width: 55%;
    
}
#messgesOutput{
    list-style: none;
    height: 90%;
    padding-bottom: 10px;
    margin-left:10px;
    overflow: scroll;
}
small{
    color: grey
}

.join-form{ 
    border: 1px white solid;
    color: #ffffff;
    top:23%;
    box-shadow: 10px 10px 5px rgb(1, 69, 1);
}

ol{
    padding-inline-start: 0 !important;
}
.people{
    list-style: none;
    color: black;
    font-weight: bolder;
    margin:3%;
    border-radius: 10px;
}